<a href="https://colab.research.google.com/github/Ferdyrahman2001/pemdas-ti11-sttnf-sem1/blob/main/ddp_p5tugas_ferdy_rahman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#kardinalitas himpunan
h = (1,2,3,4,5)
banyak_anggota = len(h)
print(banyak_anggota)

5

In [ ]:
#contohhimpunandenganenumerasi
A = {1,2,3,4,4}
print(A)

{1, 2, 3, 4}

In [ ]:
#himpunan dengan notasi
i = set(range(1, 11)) #fungsi range itu batas atas yang dituju x tetapi tidak ikut (x < 11)
print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#1
namaK = "Skopi"
jenisK = "matic"
merkK = "beat"
ccK = 110
warnaK = "blue"
rodaK = 2
listK1 = (namaK, jenisK, ccK, warnaK, rodaK)
print(listK1)

hargaK = 17.000.000
tipeK = beatOne
listK2 = (hargaK, tipeK)

#2

('beat', 'matic', 110, 'blue', 2)
('beat', 'matic', 110, 'blue', 2)

In [ ]:
listVarKendaraan = ["honda beat", "matic", "beat", 110, "blue", 2]
hargaK = 17000000
tipeK = "Standard"
merkK = "Beatone"
listVarKendaraan2 = [hargaK, tipeK, merkK]
listVarKendaraan.append(hargaK)
listVarKendaraan.append(tipeK)
print(listVarKendaraan, listVarKendaraan2)

['honda beat', 'matic', 'beat', 110, 'blue', 2, 17000000, 'Standard'] [17000000, 'Standard', 'Beatone']

In [ ]:
penampung = ''
pilihan = input(penampung)
match pilihan:
  case "1":
    print("memilih perhitungan luas persegi:")
    s = int(input("masukkan sisi?"))
    luasP = s*s
    print("luas persegi yang sisi=", s, "adalah", luasP)
  case "2":
    print("memilih perhitungan luas lingkaran:")
    PHI = 22/7
    r2 = float(input("masukkan jari-jari?"))
    luasO = PHI * r2 * r2
    print("luas lingkaran=", r2, "adalah", luasO)
  case "3":
    print("memilih perhitungan luasS3:")
    alas = float(input("masukkan alas:"))
    tinggi = float(input("masukkan tinggi:"))
    luasS3 = 1/2 * alas * tinggi
    print("Luas Segitiga yang alas", alas, "dan tinggi", tinggi, "adalah", luasS3)
  case _:
    print("pilih sesuai yang ada!!:")

3
memilih perhitungan luasS3:
masukkan alas:2
masukkan tinggi:5
Luas Segitiga yang alas 2.0 dan tinggi 5.0 adalah 5.0