<a href="https://colab.research.google.com/github/Ferdyrahman2001/pemdas-ti11-sttnf-sem1/blob/main/pemdas_p7_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#jenisbensin
jenis_bensin = ["pertalite", "pertamax", "pertamaxturbo"]

#hargajenisbensin
harga_pertalite = 10000
harga_pertamax = 14000
harga_pertamax_turbo = 17000

#jaraktempuhbensin
jarak_temp_pertalite = 21
jarak_temp_pertamax = 13
jarak_temp_pertamaxturbo = 13.5

kota = ["jakarta", "bekasi", "depok", "tangerang", "bogor"]

#jaraktempuhkota
jarak_jakarta = 20
jarak_bekasi = 35.7
jarak_depok = 5
jarak_tangerang = 99
jarak_bogor = 120.6

#inputnamakendaraan
nama_kendaraan = input("nama kendaraan:")
jenis_bensin = input("input jenis bensin:")
harga_jenis_bensin = int(input("harga jenis bensin:"))
jarak_tempuh_bensin = float(input("jarak tempuh bensin:"))
kota = input("kota tujuan:")
jarak_tempuh_kota = float(input("jarak tempuh kota tujuan:"))
pemakaian_bensin = (
    jarak_tempuh_kota / jarak_tempuh_bensin
)
total_harga = (
    pemakaian_bensin * harga_jenis_bensin
)
print(total_harga)

nama kendaraan:b
input jenis bensin:pertalote
harga jenis bensin:10000
jarak tempuh bensin:12
kota tujuan:bogor
jarak tempuh kota tujuan:120.6
100499.99999999999

In [8]:
nama = input("masukkan nama pembeli:")
hp = int(input("masukkan nomor hp pembeli:"))
menu = ''
pilihan = input(menu)
match pilihan:
  case "makanan":
    menu_makan = "nasigoreng = 15000 | miegoreng = 12000 | ayamgeprek = 18000"
    nasi_goreng = 15000
    mie_goreng =12000
    ayam_geprek = 18000
    print(menu_makan)
  case "minuman":
    menu_minum = "anekajus = 15000 | softdrink = 10000 | sweeticetea = 5000"
    aneka_jus = 15000
    soft_drink = 10000
    sweet_ice_tea = 5000
    print(menu_minum)
masukkan_menu = input("masukkan menu:")
jumlah_pesanan = int(input("masukkan jumlah pesanan:"))
print(masukkan_menu, jumlah_pesanan)

masukkan nama pembeli:b
masukkan nomor hp pembeli:0856
makanan
nasigoreng = 15000 | miegoreng = 12000 | ayamgeprek = 18000
masukkan menu:nasigoreng
masukkan jumlah pesanan:2
nasigoreng 2